
html {
  --display-font: "Inconsolata", monospace, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --body-font: "Inconsolata", monospace, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --theme-primary: #19647E;
  --on-primary:white;
  height: 100%;
  --logo-bw: black;
  font-family: var(--body-font);
}
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

.card-columns{
    column-gap:10px 0;
}
.card-columns img{
    margin:5px;
}

.image-tease{
    filter:blur(30px) opacity(0.5);
    height: 300px;
    overflow: hidden;
    margin-bottom:15px;
    display:flex;
    align-items: center;
    justify-content: start;
}

svg .logo-bw{
    fill: var(--logo-bw);
}

.page-title{
    position:absolute;
    height: 300px;
    left:0;
    width:100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page-title svg {
    max-height:150px;
    max-width: 500px;
    max-width: min(500px, 75vw);
    width:100%;
    display:block;
    margin:auto;
}
.page-title h1 {
    max-height:150px;
    max-width: 500px;
    max-width: min(500px, 75vw);
    display:block;
    margin:auto;
}

article{
    margin: 20px;
}

article p{
    display:flex;
    flex-direction: column;
    gap:20px;
    align-items: center;
}

.image-tease img{
    min-width: 100%;
    min-height: 300px;
}

@media (min-width: 768px) {
    .container {
        width: 540px;
    }
    .card-columns{
        columns:2;
        column-count: 2;
        -webkit-column-count: 2;
    }
}

@media (min-width: 992px) {
    .container {
        width: 720px;
    }
    .card-columns{
        columns: 3;
        column-count: 3;
        -webkit-column-count: 3;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 960px;
    }
}

@media (min-width: 1400px) {
    .container {
        width: 1140px;
    }
}
.article-card {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    background-color: white;
    z-index: 3;
    view-transition-name: article;
    margin-top: 30px;
}
body{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(249, 248, 248);
}
@view-transition {
    navigation: auto;
}
::view-transition-group(root) {
    animation-duration: 0.2s;
}

@keyframes slide-in {
    from {
        filter: opacity(0);
        transform: translateY(100vh);
    }
    to {
        transform: none;
    }
}

@keyframes fade-in {
    from {
        transform: scale(0.9);
        filter: opacity(0);
    }
    to {
        transform: none;
        filter: opacity(100%);
    }
}

::view-transition-old(root) {
    animation: 0.3s ease both reverse fade-in;
    z-index: 1;
}
::view-transition-new(article) {
    animation: 0.4s cubic-bezier(0,0,0,1) both slide-in;
}

@media (prefers-color-scheme:dark){
    body{
        background-color: #121212;
        color:white;
        --logo-bw: white;
        --theme-primary: #2690b3;
    }
    .article-card{
        background-color: #212121;
    }
    a{
        color: white;
    }
}
article img:not(.transparent){
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: white;
}

article img{
    max-height:80vh;
    object-fit: contain;
    max-width: 100%;
}

.inline-icon {
    display: inline;
    height: 25px;
    vertical-align: middle;
}

.action-link{
    color:var(--theme-primary);
    fill: var(--theme-primary);
    text-decoration: none;
    padding:10px;
    font-weight: bold;
}

.action-link--prominent{
    background-color: var(--theme-primary);
    color:var(--on-primary);
    fill:var(--on-primary);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

.container--bottom-bar{
    margin: 20px 0;
    flex-direction: row;
}